# Environnement virtuel (venv)
venv/
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs
*.log

# Dossiers et fichiers temporaires
*.tmp
*.temp
*.swp
*.swo

# Fichiers système macOS
.DS_Store

# Autres fichiers locaux ou secrets
.env.*

